.header_section{
    height: 100vh;
    background-image: url('../img/laptop.jpg');
    background-size: cover;
}

.portofolio{
    padding-top:120px;
    padding-bottom: 25px;
    background: blue;
    overflow: auto;
}

.portofolio .text-portofolio h2{
    margin-bottom: 20px
}

.about {
    height: 50vh;
    background: green;
}

.header_section .title{
    text-align: center;
    color: white;
    bottom: 10px;
    position: absolute;
    margin:auto;
    width: 100%
}

.portofolio .text-portofolio{
    text-align: center;
    color: white;
}

.x{
    background: brown
}


.z{
    background: yellow
}


.w{
    background: blueviolet
}

.navbar ul li a{
    color: white;
    margin-left: 15px;
}

.navbar{
    transition-duration: 0.5s;
}

@media (max-width: 576px) { 
    .header_section h1{
        font-size:25px;
    }
    .header_section p{
        font-size: 12px
    }

    .portofolio .text-portofolio h2{
        font-size: 20px;
    }

    .portofolio {
        padding-top: 25px;
    }
    
}